[[extend 'base.html']]

[[block content]]
<div class="md:min-h-screen flex items-center justify-center p-4">
    <div class="max-w-4xl mx-auto shadow-[0_2px_10px_-3px_rgba(14,14,14,0.3)] rounded-xl overflow-hidden">
        <div class="grid md:grid-cols-5 items-center">
            <div
                class="md:col-span-2 max-md:order-1 relative before:absolute before:inset-0 before:bg-blue-800/70 overflow-hidden w-full h-full">
                <div class="md:aspect-[6/10] max-sm:aspect-[6/7]">
                    <img src="https://readymadeui.com/images/real-estate-img.webp" class="w-full h-full object-cover"
                        alt="signup-image" />
                </div>
                <div class="absolute inset-0 m-auto flex items-end justify-center max-md:text-center">
                    <div class="bg-gradient-to-t from-black/50 via-black/50 to-transparent p-6 w-full">
                        <div class="max-w-md mx-auto">
                            <h1 class="text-white text-3xl font-semibold">Rejoignez-nous aujourd'hui </h1>
                            <p class="text-slate-300 text-[15px] font-medium mt-6 leading-relaxed">
                                Créez votre compte gratuitement et débloquez l'accès à des outils puissants, 
                                des fonctionnalités personnalisées et du contenu exclusif.
                                <br /><br />
                                Inscrivez-vous maintenant et faites le premier pas vers votre prochaine grande opportunité.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="md:col-span-3 w-full p-6 md:p-8 max-w-lg mx-auto">
                <form>
                    <div class="mb-8">
                        <h2 class="text-slate-900 text-2xl font-semibold">Inscrivez-vous maintenant</h2>
                    </div>

                    <div class="space-y-6">
                        <div>
                            <label class="text-slate-900 text-sm font-medium block ">Nom</label>
                            <div class="relative flex items-center">
                                <input name="first_name" type="text" required
                                    class="w-full text-sm text-slate-900 border-b border-slate-300 focus:border-blue-600 pr-8 pb-1 py-3 outline-none"
                                    placeholder="Entrer nom" />
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                                    class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 24 24">
                                    <circle cx="10" cy="7" r="6" data-original="#000000"></circle>
                                    <path
                                        d="M14 15H6a5 5 0 0 0-5 5 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 5 5 0 0 0-5-5zm8-4h-2.59l.3-.29a1 1 0 0 0-1.42-1.42l-2 2a1 1 0 0 0 0 1.42l2 2a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42l-.3-.29H22a1 1 0 0 0 0-2z"
                                        data-original="#000000"></path>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <label class="text-slate-900 text-sm font-medium block ">Prénoms</label>
                            <div class="relative flex items-center">
                                <input name="last_name" type="text" required
                                    class="w-full text-sm text-slate-900 border-b border-slate-300 focus:border-blue-600 pr-8 pb-1 py-3 outline-none"
                                    placeholder="Entrer prénoms" />
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                                    class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 24 24">
                                    <circle cx="10" cy="7" r="6" data-original="#000000"></circle>
                                    <path
                                        d="M14 15H6a5 5 0 0 0-5 5 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 5 5 0 0 0-5-5zm8-4h-2.59l.3-.29a1 1 0 0 0-1.42-1.42l-2 2a1 1 0 0 0 0 1.42l2 2a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42l-.3-.29H22a1 1 0 0 0 0-2z"
                                        data-original="#000000"></path>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <label class="text-slate-900 text-sm font-medium block ">Email</label>
                            <div class="relative flex items-center">
                                <input name="email" type="text" required
                                    class="w-full text-sm text-slate-900 border-b border-slate-300 focus:border-blue-600 pr-8 pb-1 py-3 outline-none"
                                    placeholder="Entrer email" />
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                                    class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 682.667 682.667">
                                    <defs>
                                        <clipPath id="a" clipPathUnits="userSpaceOnUse">
                                            <path d="M0 512h512V0H0Z" data-original="#000000"></path>
                                        </clipPath>
                                    </defs>
                                    <g clip-path="url(#a)" transform="matrix(1.33 0 0 -1.33 0 682.667)">
                                        <path fill="none" stroke-miterlimit="10" stroke-width="40"
                                            d="M452 444H60c-22.091 0-40-17.909-40-40v-39.446l212.127-157.782c14.17-10.54 33.576-10.54 47.746 0L492 364.554V404c0 22.091-17.909 40-40 40Z"
                                            data-original="#000000"></path>
                                        <path
                                            d="M472 274.9V107.999c0-11.027-8.972-20-20-20H60c-11.028 0-20 8.973-20 20V274.9L0 304.652V107.999c0-33.084 26.916-60 60-60h392c33.084 0 60 26.916 60 60v196.653Z"
                                            data-original="#000000"></path>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <label class="text-slate-900 text-sm font-medium block ">N° de téléphone</label>
                            <div class="relative flex items-center">
                                <input name="phone_number" type="text" required
                                    class="w-full text-sm text-slate-900 border-b border-slate-300 focus:border-blue-600 pr-8 pb-1 py-3 outline-none"
                                    placeholder="Enter n° de cellulaire" />
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                                    class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 24 24">
                                    <circle cx="10" cy="7" r="6" data-original="#000000"></circle>
                                    <path
                                        d="M14 15H6a5 5 0 0 0-5 5 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 5 5 0 0 0-5-5zm8-4h-2.59l.3-.29a1 1 0 0 0-1.42-1.42l-2 2a1 1 0 0 0 0 1.42l2 2a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42l-.3-.29H22a1 1 0 0 0 0-2z"
                                        data-original="#000000"></path>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <label class="text-slate-900 text-sm font-medium block ">Mot de passe</label>
                            <div class="relative flex items-center">
                                <input name="password" type="password" required
                                    class="w-full text-sm text-slate-900 border-b border-slate-300 focus:border-blue-600 pr-8 pb-1 py-3 outline-none"
                                    placeholder="Entrer mot de passe" />
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                                    class="w-[18px] h-[18px] absolute right-2 cursor-pointer" viewBox="0 0 128 128">
                                    <path
                                        d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                                        data-original="#000000"></path>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <label class="text-slate-900 text-sm font-medium block ">Confirmer mot de passe</label>
                            <div class="relative flex items-center">
                                <input name="password" type="password" required
                                    class="w-full text-sm text-slate-900 border-b border-slate-300 focus:border-blue-600 pr-8 pb-1 py-3 outline-none"
                                    placeholder="Confirmer mot de passe" />
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                                    class="w-[18px] h-[18px] absolute right-2 cursor-pointer" viewBox="0 0 128 128">
                                    <path
                                        d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                                        data-original="#000000"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="flex items-center">
                            <input id="remember-me" name="remember-me" type="checkbox"
                                class="h-4 w-4 shrink-0 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />
                            <label for="remember-me" class="ml-3 block text-sm text-slate-600">
                                J'accepte les <a href="javascript:void(0);"
                                    class="text-blue-600 font-medium hover:underline ml-1">Termes et Conditions</a>
                            </label>
                        </div>
                    </div>

                    <div class="mt-8">
                        <button type="button"
                            class="w-full py-2.5 px-4 tracking-wider text-sm rounded-md text-white bg-slate-800 hover:bg-slate-900 focus:outline-none cursor-pointer">
                            Créer un compte
                        </button>
                    </div>
                    <p class="text-slate-600 text-sm mt-6 text-center">Vous avez déjà un compte ? <a
                            href="javascript:void(0);" class="text-blue-600 font-medium hover:underline ml-1">Connectez-vous ici</a></p>
                </form>
            </div>
        </div>
    </div>
    <div class="grid md:grid-rows-2 items-center">
        <h2 class="text-slate-900 text-xl font-semibold">Continuez avec</h2>
        <div class="grid md:grid-rows-3 items-center">
            <div>google</div>
            <div>yahoo</div>
            <div>facebook</div>
        </div>
    </div>
</div>
[[end]]